/* Estilização hero section */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80dvh;
    padding: 8rem 0rem 0rem 0rem;
    transition: margin-top ease-in-out .5s;
}

/* Estilização Lado Esquerdo */

.leftSide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.profile-pic {
    width: 80%;
    border-bottom: 4px solid var(--special-color);
    box-shadow: -10px 5px 20px 1px var(--sombra);
    transition: width ease-in-out .5s;
    background-color: #1a1a1a;
}

.button-curriculum {
    margin-top: 1rem;
    background-color: var(--background);
    padding: 0.5rem 2rem;
    box-shadow: 0.1px 0.1px 3px 0.1px var(--background-invert);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    color: var(--background-invert);
    transition: color ease-in-out .4s;
    cursor: pointer;
    text-decoration: none;
    margin-top: 7%;
}

.button-curriculum span {
    font-weight: 800;
    position: relative;
}

.button-curriculum::before {
    content: '';
    background-color: var(--background-invert);
    color: #000;
    width: 0px;
    height: 0px;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 1.5s, height 1.5s;
}

.button-curriculum:hover::before {
    width: 1000px;
    height: 1000px;
}

.button-curriculum:hover {
    color: var(--background);
}

/* Estilização Lado Direito */

.rightSide-container {
    display: flex;
    flex-direction: column;
    width: 66%;
    transition: width 1s ease-in-out;
}

.hero-title-container h1 {
    display: flex;
    flex-wrap: wrap;
}

.hero-title {
    font-weight: 700;
}

.hero-text {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7rem;
}

.rightSide-container span {
    display: inline-block;
}

.blink {
    color: var(--special-color);
    font-weight: 800;
    font-size: 18px;
    animation: blink 1s step-end infinite;
}


@media screen and (max-width: 1050px) {
    .hero {
        flex-direction: column;
    }

    .rightSide-container {
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    .social {}
}

@media screen and (max-width: 500px) {
    .hero {}

}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}