.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.title-project {
    margin-top: 1rem;
    font-size: 20px;
}

.project-ilustration {
    display: flex;
    align-items: center;
    background-color: var(--backgroundOp);
    box-shadow: 0.01px 0.01px 4px 0.01px var(--background-invert);
    overflow: clip;
    position: relative;
    width: 20vw;
    height: 30vh;
    letter-spacing: 6px;
}


.line-not{
    transform: translate(-20%, -95%);
    rotate: -35deg;
    position: absolute;
    background-color: var(--background-invert);
    width: 150%;
    height: 6vh;
}

.img-project {
    margin-bottom: 37px;
    width: 100%;
    height: 24vh;
}

.line-completed{
    transform: translate(-20%, 77px);
    position: absolute;
    background-color: var(--background-invert);
    width: 150%;
    height: 6vh;
}

.text-line {
    color: var(--background);
    transform: translate(20px, 4.5px);
    width: 100%;
    text-align: center;
    position: absolute;
    transition: letter-spacing .5s ease-in-out, font-weight .5s ease-in-out;
}

.project-ilustration:hover {
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 12px;
}

