.project-card {
    display: grid;
    grid-template-rows: min-content;
    text-align: center;
    color: var(--background--invert);
}

.project-card .img-project {
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.project-ilustration {
    background-color: var(--backgroundOp);
    box-shadow: 0.1px 0.1px 5px 0.1px var(--background-invert);
    height: 200px;
    inline-size: 100%;
    aspect-ratio: 16/9;
    letter-spacing: 4px;
}

.title-project {
    margin-top: 1rem;
    font-size: 20px;
}