.projects {
    flex-direction: column;
}

.title-projects {
    font-size: 35px;
}

.showall-anchor {
    cursor: pointer;
    background-color: var(--background-invert);
    color: var(--background);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    color: var(--text-primary);
    margin-top: 2rem;
    width: 90vw;
}