/* Estilização Lado Esquerdo */

.leftSide-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.leftSide-container>div {
    background-image: url('/img/ProfileHero.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    border-radius: 10rem;
    width: 70%;
    aspect-ratio: 3/3;
    border-bottom: 4px solid var(--special-color);
    box-shadow: -10px 5px 20px 1px var(--sombra);
    transition: width ease-in-out .5s;
}

.button-curriculum {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;

    background-color: var(--background);
    color: var(--background-invert);
    box-shadow: 0.1px 0.1px 3px 0.1px var(--background-invert);

    border-radius: 1rem;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    box-shadow: var(--sombra-1) 0px 10px 20px, var(--sombra-2)0px 6px 6px;
    transition: color ease 1s, transform ease .1s;
}

.button-curriculum::before {
    content: '';
    background-color: var(--background-invert);
    color: #000;
    width: 0px;
    height: 0px;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 1.5s, height 1.5s;
}

.button-curriculum:hover::before {
    width: 1000px;
    height: 1000px;
}

.button-curriculum:hover {
    box-shadow: var(--sombra-1) 0px 10px 20px, var(--sombra-2) 0px 6px 6px;
    transform: translateY(-3px);
    color: var(--background);
}

.button-curriculum:active {
    transform: scale(0.98);
}

.button-curriculum>span {
    font-weight: 800;
    position: relative;
}

/* Estilização Lado Direito */

.rightSide-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: width 1s ease-in-out;
}

.rightSide-container>h1 {
    font-size: 30px;
    font-weight: 700;
}

.hero-text {
    width: 90%;
    font-size: 16px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7rem;
}

.blink {
    color: var(--text-primary);
    font-size: 18px;
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


@media screen and (max-width: 1050px) {
    .hero {
        flex-direction: column;
    }

    .rightSide-container {
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .rightSide-container>h1 {
        white-space: wrap;
        overflow: visible;
        text-align: center;
    }

    .hero-text {
        text-align: center;
    }

}