#hero {
    position: relative;
    overflow: hidden;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    transition: margin-top ease-in-out .5s;

}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 1s ease-in-out;
}

.span-text {
    display: inline-block;
}

.initial-text-container {
    display: flex;
    flex-direction: column;
    align-items: hero;
    width: 65%;
    margin-top: 3rem;
    transition: width 1s ease-in-out;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.fullstack-text-color {
    color: var(--special-color);
}

.initial-title {
    font-size: 60px;
    font-weight: 600;
}

.initial-text {
    font-weight: 100;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blink {
    color: var(--special-color);
    font-weight: 700;
    animation: blink 1s step-end infinite;
}

.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 70%;
    border-bottom: 4px solid var(--special-color);
    box-shadow: -10px 5px 20px 1px var(--sombra);
    transition: width ease-in-out .5s;
    background-color: #1a1a1a;
}


.button-curriculum {
    margin-top: 1rem;
    background-color: var(--background);
    padding: 0.5rem 2rem;
    box-shadow: 0.1px 0.1px 3px 0.1px var(--background-invert);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    color: var(--background-invert);
    transition: color ease-in-out .4s;
    cursor: pointer;
    text-decoration: none;
    margin-top: 7%;
}

.button-curriculum span {
    font-weight: 800;
    font-size: 18px;
    position: relative;
}

.button-curriculum::before {
    content: '';
    background-color: var(--background-invert);
    color: #000;
    width: 0px;
    height: 0px;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 1.5s, height 1.5s;
}

.button-curriculum:hover::before {
    width: 1000px;
    height: 1000px;
}

.button-curriculum:hover {
    color: var(--background);
}


@media screen and (min-width: 1440px) {
    .profile-pic {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .initial-text-container {
        width: 40%;
    }

    .social {
        width: 30%;
    }
}

@media screen and (max-width: 1050px) {
    .hero {
        margin-top: 15%;
        flex-direction: column;
    }

    .initial-text-container {
        align-items: center;
        text-align: center;
        width: 90%;
    }

    .profile-pic {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        margin-top: 30%;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        margin-top: 40%;
    }

}