.aboutme-container-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
    border-radius: 90px;
}

.title-aboutme {
    font-size: 30px;
}

.text-aboutme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.card-aboutme-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.card-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-aboutme-card {
    text-align: center;
    font-size: 18px;
}


.count {
    font-size: 22px;
    color: var(--background-invert);
}

.text-card {
    font-size: 30px;
    font-weight: 700;
}

.text-aboutme {
    text-align: start;
}

.aboutme-container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.aboutme-container-right>img {
    border-radius: 50%;
    border-bottom: 4px solid var(--special-color);
    box-shadow: 10px 10px 20px -14px var(--special-color);
}