.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-conteudo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.showall-anchor {
    color: var(--text-primary);
}

.title-projects {
    font-size: 35px;
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.project-card {
    display: flex;
    justify-content: center;
    width: 80%;
    position: relative;
    background-color: #0000003f;
    border: 2px solid red;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
}

.left-side {}

.right-side {
    display: flex;
    align-items: start;
}

.tec-project-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-weight: 500;
}

.dog-photo2 {
    width: 60%;
}




@media screen and (max-width: 1050px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 460px) {}

@media screen and (max-width: 530px) {}

@media screen and (max-width: 200px) {}

@media screen and (max-width: 220px) {}