/* Section Skills */

.skills {
    flex-direction: column;
    flex-wrap: wrap;
}

.skills>h1 {
    text-align: center;
    margin-bottom: 5rem;
}


/* Component SkillSection */

.skills>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    width: 100%;
}

.icon-skill {
    color: var(--background);
}

.skill-check {
    color: var(--background-invert);
}

/* Component SkillCard */

.skill-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 23rem;
    min-height: 22rem;
    border-radius: 15px;
    padding-inline: 0.5rem;
    margin-inline: 0.5rem;
    position: relative;
    background-color: var(--background);
    box-shadow: 0.01px 0.01px 4px 0.01px var(--background-invert);
    transition: width .5s ease-in-out;
}

.icon-skill-container {
    background-color: var(--background-invert);
    box-shadow: 0.01px 0.01px 4px 0.01px var(--background-invert);
    padding: 1.2rem 1.2rem;
    border-radius: 90px;
    position: absolute;
    top: -35%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, 100%);
}

.skill-container>h2 {
    align-self: center;
    margin-top: 1.5em;
}

.skillList-container {
    width: 90%;
}

.skillList-container ul {
    padding: 0;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
    padding: 0.6rem;
    margin: 15px 0px;
    border-radius: 1rem;
    transition: transform .2s ease, box-shadow .2s ease;
}

.skill:hover {
    box-shadow: var(--sombra-1) 0px 10px 20px, var(--sombra-2) 0px 6px 6px;
    background-color: var(--background-invert);
    color: var(--background);
    transform: translatey(-3px);

    .skill-check {
        color: var(--background);
    }
}