.skills {
    flex-direction: column;
    flex-wrap: wrap;
}

.skills>h1 {
    text-align: center;
    margin-bottom: 8rem;   
}

.skills .scroll-trigger {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.skill-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 25rem;
    min-height: 22rem;
    position: relative;
    background-color: var(--background);
    box-shadow: 0.01px 0.01px 4px 0.01px var(--background-invert);
    transition: width .5s ease-in-out;
}

.skill-container>h2 {
    align-self: center;
    margin-top: 1.5em;
}

.icon-skill-container {
    background-color: var(--background-invert);
    box-shadow: 0.01px 0.01px 4px 0.01px var(--background-invert);
    padding: 1.2rem 1.2rem;
    border-radius: 90px;
    position: absolute;
    top: -120px;
    left: 200px;
    margin: auto;
    transform: translate(-50%, 100%);
}

.icon-skill {
    color: var(--background);
}

.img-icon {
    width: 20px;
}


.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.skill>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.skill-check {
    color: var(--background-invert);
}

.skill-stats .barras {
    background-color: var(--backgroundOp);
    display: block;
    box-shadow: 0.01px 0.01px 1px var(--background-invert);
    height: 15px;
    width: 60%;
    border-radius: 5px;
    position: relative;
    overflow: clip;
}

.skill-stats {
    padding: 1% 2%;
}

.skill-stats ul {
    list-style: none;
}

.skill-stats ul li {
    margin: 15px 0;
}

.barras>span {
    height: inherit;
    background: linear-gradient(to right, var(--backgroundOp), var(--background-invert));
    position: absolute;
    border-radius: 3px;
}

.barras span {
    width: var(--per);
    animation: var(--anim) forwards;
}

@media(prefers-reduced-motion: no-preference) {
    @keyframes skillbar {
        0% {
            width: 0%;
        }

        100% {
            width: var(--per);
        }

    }
}