.start-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 1s ease-in-out;
}

.span-text {
    display: inline-block;
}

.start {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.initial-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
    margin-top: 3rem;
    transition: width 1s ease-in-out;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.fullstack-text-color {
    color: var(--special-color);
}

.initial-title {
    font-size: 60px;
    font-weight: 600;
}

.initial-text {
    font-weight: 100;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blink {
    color: var(--special-color);
    font-weight: 700;
    animation: blink 1s step-end infinite;
}

.profile-pic {
    width: 50vh;
    border-bottom: 4px solid var(--special-color);
    box-shadow: -20px 10px 20px 5px  var(--sombra);
    transition: box-shadow ease-in-out 1s;
}

.profile-pic-container {
    /* background-color: black; */
    border-radius: 20rem;
}

@media screen and (max-width: 1200px) {
    .initial-text-container{
        width: 40%;
    }
    .social {
        width: 30%;
    }
}

@media screen and (max-width: 1050px) {
    .start {
        margin-top: 20%;
        flex-direction: column;
    }

    .initial-text-container {
        align-items: center;
        text-align: center;
        width: 90%;
    }
}


@media screen and (max-width: 500px) {
    .start {
        margin-top: 40%;
    }

}

@media screen and (max-width: 200px) {

}