.app {
    background-color: var(--background);
    color: var(--text-primary);
    transition: background-color 2.5s ease-in-out, color 2.5s ease-in-out;
}

/* style main */

#main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--backgroundOp);
    padding: 1rem 2rem;
    z-index: 1000;
    width: 100%;
    position: fixed;
    transition: background-color 2.5s ease-in-out;
}

.header-logo {
    width: 15vh;
}

.options-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    font-size: 20px;
    transition: width 1s ease-in-out;

}

.options-header a {
    color: var(--text-primary);
    text-decoration: none;
    position: relative;
    transition: color 2.5s ease-in-out;
}

.options-header a:before {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 0;
    background: var(--special-color);
    border-radius: 50px;
    transition: width 0.2s linear;
}

.options-header a:hover:before {
    width: 100%;
}

.extras-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;

}

.darkmode-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 50%;
}

.darkmode-container i {
    font-size: 1.5rem;
    cursor: pointer;
}

.darkmode-text {
    font-size: 15px;
    margin-bottom: 0px;
}

.flag-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.flag-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    padding: 0;
}

.flag-button+.flag-button {
    margin-left: 10px;
}

/* style third section */

.tecnologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

/* style fourth section */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 1200px) {
    .options-header {
        width: 85%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1199px) {
    .options-header {
        width: 70%;
    }
}