#main-home {
    max-width: 1366px;
    margin-inline: auto;
    overflow: clip;
}

.hero,
.aboutme,
.contact,
.projects,
.skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    margin: auto;
    padding: 7rem 0rem 0rem 0rem;
}

img {
    display: block;
}

img,
svg {
    max-width: 100%;
}

.app {
    background-color: var(--background);
    color: var(--text-primary);
}

.max-width {
    max-width: 1366px;
    padding: 0 40px;
    margin: auto;
}

.nav-bar {
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    z-index: 10000;
    background-color: transparent;
    transition: padding 0.6s ease-in-out, background-color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

.nav-bar.sticky {
    padding: 15px 0;
    background-color: var(--background);
    box-shadow: 0.1px 0.1px 6px 0.1px var(--text-primary);
    z-index: 999;
}

.nav-bar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .logo a {
    display: block;
    width: 50%;
}

.nav-bar ul li {
    list-style: none;
    margin-top: 14px;
    display: inline-block;
}

.nav-bar ul li a {
    cursor: pointer;
    display: block;
    margin-left: 25px;
    text-decoration: none;
    color: var(--text-primary);
    position: relative;
}

.nav-bar ul li a>img {
    margin-block-end: -9px;
    width: 40px;
}

.nav-bar ul li .underline-a:before {
    content: '';
    position: absolute;
    bottom: -2.5px;
    height: 2px;
    width: 0;
    background: var(--text-primary);
    border-radius: 50px;
    transition: width 0.2s linear;
}

.nav-bar ul li .underline-a:hover:before {
    width: 100%;
}

.nav-bar .menu {
    display: none;
    position: absolute;
    top: 25%;
    right: 15%;
}

nav ul.open {
    background-color: transparent;
    transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 1050px) {
    .nav-bar ul li a>img {
        margin-block-end: 0px;
    }
}

@media screen and (max-width: 950px) {
    .nav-bar {
        flex-direction: column;
        align-items: start;
        background-color: var(--backgroundOp);
        box-shadow: 0.1px 0.1px 6px 0.1px var(--text-primary);
    }

    .nav-bar .menu {
        display: block;
    }

    nav ul {
        display: none;
        width: 100%;
    }

    .nav-bar ul li .underline-a:before {
        content: '';
        position: absolute;
        bottom: -1px;
        right: 27%;
        height: 2px;
        width: 0;
        background: var(--special-color);
        border-radius: 50px;
        transition: width 0.2s linear;
    }

    .nav-bar ul li .underline-a:hover:before {
        width: 45%;
    }

    nav ul.open {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        position: absolute;
        padding: 2rem;
        top: 100%;
        right: 0;
        max-width: 40%;
        min-height: 80vh;
        background-color: var(--backgroundOp);
        border-left: 0.1px solid var(--text-primary);
        border-bottom: 0.1px solid var(--text-primary);
    }

    nav ul.open.sticky {

        background-color: var(--background);
    }

}

@media screen and (max-width: 500px) {
    nav ul.open {
        max-width: 70%;
    }
}