@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

[data-theme="dark"] {
  background-image: url(/img/bgDark.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  --background: #1a1a1a;
  --background-invert: #f6f6f6;
  --backgroundOp: #1a1a1ace;
  --text-primary: #ffffff;
  --special-color: #ffffff;
  --sombra: #ffffff69;
}

[data-theme="light"] {
  background-image: url(/img/bgLight.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  --background: #f6f6f6;
  --background-invert: #1a1a1a;
  --backgroundOp: #f6f6f6ce;
  --text-primary: #000000;
  --special-color: #1a1a1a;
  --sombra: #00000069;
}

body {
  background: var(--background-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 2px;
  line-height: 26px;
  overflow-x: clip;
  user-select: none;
}

.title {
  font-weight: 600;
  font-family: 'Jura', sans-serif;
}

.text {
  font-family: 'Arimo', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
}