@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


[data-theme="dark"] {
  --background: #000000;
  --backgroundOp: #000000ce;
  --text-primary: #ffffff;
  --special-color: #03b8ff;
}

[data-theme="light"] {
  --background: #f2fffc;
  --backgroundOp: #f2fffcce;
  --text-primary: #000000;
  --special-color: #f67828;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.title {
  font-weight: 600;
  font-family: 'Jura', sans-serif;
}

.text {
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-left: 2px solid rgb(3, 3, 3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
  border-radius: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}