@media screen and (max-width: 1200px) {
    .skills-container {
        height: 230dvh;
    }

    .title-skills {
        margin-top: 5rem;
        margin-bottom: -2rem;
    }

    .skills-container>div {
        flex-direction: column;
    }

    .skills {
        width: 60%;
        margin-top: 8%;
    }

}

@media screen and (max-width: 1050px) {
    .hero {
        flex-direction: column;
    }

    .rightSide-container {
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        align-items: center;
        justify-content: center;
    }

    .aboutme {
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .aboutme-container-left {
        width: 70%;
    }

    .text-aboutme {
        text-align: center;
    }

    .aboutme-container-left {
        align-items: center;
    }

    .dog-photo {
        margin-top: 2%;
    }
}

@media screen and (max-width: 980px) {
    .contact {
        flex-direction: column;
    }

    .text-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .formContainer {
        margin-top: -5rem;
        padding: 0rem 0rem 2rem 0rem;
        width: 80%;
    }

    .emailSVG {
        top: 8%;
        left: 18.5%;
        margin: auto;
        position: absolute;
        z-index: -1;
        stroke: var(--background-invert);
    }

}

@media screen and (max-width: 800px) {


    .aboutme-container-left {
        width: 90%;
    }

    .aboutme-container-right {
        width: 40%;
    }
}