.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 115vh;
}

.title-aboutme {
    font-size: 35px;
}

.cards-aboutme-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.text-aboutme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.text-aboutme {
    text-align: center;
}

.card-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 3rem;
    width: 20%;
    height: 25vh;
    transition: width .5s ease-in-out;
    margin-bottom: 2rem;
}

.card-aboutme-icon {
    margin-bottom: 1.2rem;
    color: var(--special-color);
    transition: color 2s ease-in-out;
}


.button-aboutme {
    background-color: var(--text-primary);
    padding: 0.6rem 3rem;
    border-radius: 90px;
    position: relative;
    overflow: hidden;
    transition: color ease-in-out .8s;
    color: var(--background);
}

.button-aboutme span {
    font-weight: 800;
    font-size: 18px;
    position: relative;
}

.button-aboutme::before {
    content: '';
    background-color: var(--special-color);
    color: #000;
    width: 0px;
    height: 0px;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 1.5s, height 1.5s;
}

.button-aboutme:hover::before {
    width: 1000px;
    height: 1000px;
}

.button-aboutme:hover {
    color: var(--text-primary);
}

@media screen and (max-width: 9999px) {
    .card-aboutme {
        width: 25%;
    }
}

@media screen and (max-width: 1400px) {
    .card-aboutme {
        width: 30%;
    }
}

@media screen and (max-width: 1095px) {
    .card-aboutme {
        width: 30%;
    }
}

@media screen and (max-width: 950px) {
    .aboutme {
        height: 120vh;
    }

}

@media screen and (max-width: 740px) {
    .aboutme {
        height: 130vh;
    }

    .card-aboutme {
        width: 40%;
    }
}

@media screen and (max-width: 640px) {
    .aboutme {
        height: 140vh;
    }
}

@media screen and (max-width: 600px) {

    .card-aboutme {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 545px) {
    .card-aboutme {
        margin-bottom: 15px;
        width: 42%;
    }
}

@media screen and (max-width: 520px) {
    .card-aboutme {
        width: 46%;
    }
}