.aboutme {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    margin-top: 2%;

}

.aboutme-container-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
}

.title-aboutme {
    font-size: 30px;
}

.text-aboutme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.card-aboutme-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.card-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-aboutme-card {
    text-align: center;
    font-size: 22px;
}


.count {
    font-size: 22px;
    color: var(--special-color);
}

.text-card {
    font-size: 30px;
    font-weight: 700;
}

.text-aboutme {
    text-align: start;
}

.aboutme-container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.dog-photo {
    width: 70%;
    border-radius: 50%;
    border-bottom: 4px solid var(--special-color);
    box-shadow: 10px 10px 20px -14px var(--special-color);
}

.button-aboutme {
    margin-top: 1rem;
    background-color: var(--text-primary);
    padding: 0.6rem 3rem;
    border-radius: 70px;
    position: relative;
    overflow: hidden;
    transition: color ease-in-out .8s;
    color: var(--background);
}

.button-aboutme span {
    font-weight: 800;
    font-size: 18px;
    position: relative;
}

.button-aboutme::before {
    content: '';
    background-color: var(--special-color);
    color: #000;
    width: 0px;
    height: 0px;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 1.5s, height 1.5s;
}

.button-aboutme:hover::before {
    width: 1000px;
    height: 1000px;
}

.button-aboutme:hover {
    color: var(--text-primary);
}


@media screen and (max-width: 1050px) {
    .aboutme {
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .aboutme-container-left {
        width: 70%;
    }

    .text-aboutme {
        text-align: center;
    }

    .aboutme-container-left {
        align-items: center;
    }

    .dog-photo {
        margin-top: 2%;
    }
}


@media screen and (max-width: 800px) {
    .aboutme {
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
    }

    .aboutme-container-left {
        width: 90%;
    }

    .dog-photo {
        width: 90%;
    }
}