.aboutme {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.aboutme-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-aboutme {
    font-size: 35px;
}

.cards-aboutme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-aboutme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 1rem;
}

.text-aboutme {
    text-align: center;
}

.card-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 3rem;
    padding: 4rem 6rem;
    transition: width .5s ease-in-out;
    margin-bottom: 2rem;
}

.card-aboutme-icon {
    margin-bottom: 1.2rem;
    color: var(--special-color);
    transition: color 2s ease-in-out;
}


.button-aboutme {
    margin-top: 1rem;
    background-color: var(--text-primary);
    padding: 0.6rem 3rem;
    border-radius: 90px;
    position: relative;
    overflow: hidden;
    transition: color ease-in-out .8s;
    color: var(--background);
}

.button-aboutme span {
    font-weight: 800;
    font-size: 18px;
    position: relative;
}

.button-aboutme::before {
    content: '';
    background-color: var(--special-color);
    color: #000;
    width: 0px;
    height: 0px;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 1.5s, height 1.5s;
}

.button-aboutme:hover::before {
    width: 1000px;
    height: 1000px;
}

.button-aboutme:hover {
    color: var(--text-primary);
}

