.app {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100svh;
    color: var(--text-primary);
}

#main-home {
    max-width: 1366px;
    margin-inline: auto;
    overflow: clip;
}

.hero,
.aboutme,
.contact,
.projects,
.skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    min-height: 100vh;
    padding: 7rem 0rem 0rem 0rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    padding-block: 0.6rem;
    box-shadow: 0.1px 0.1px 6px 0.1px var(--text-primary);
    background: var(--backgroundOp);
    color: var(--background-invert);
}


@media screen and (max-width: 900px) {

    .hero,
    .aboutme,
    .contact,
    .projects,
    .skills {
        min-height: 100svh;
    }
}