/* Section Project */

.projects {
    justify-content: center;
    flex-direction: column;
    padding: 7rem 0rem 5rem 0rem;
}

.projects>h2 {
    margin-bottom: 2rem;
}

/* Component ProjectCarousel */

.carousel {
    position: relative;
    width: 30rem;
    height: 30rem;
    perspective: 500px;
    transform-style: preserve-3d;
    transition: all .5s ease;
}

.project-container {
    position: absolute;
    height: 100%;
    transform:
        rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-out;
}

.project-control {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;

    &.left {
        color: var(--background-invert);
        transform: translateX(-300%) translateY(-70%);
        transition: all .5s ease;
    }

    &.right {
        color: var(--background-invert);
        right: 0;
        transform: translateX(300%) translateY(-70%);
        transition: all .5s ease;
    }
}

/* Component ProjectCard */

.project-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    padding: 2rem;
    background-color: var(--background);
    border-radius: 1rem;
    color: var(--background-invert);
    box-shadow: var(--sombra-1) 0px 10px 20px, var(--sombra-2) 0px 6px 6px;
    text-align: start;
    transition: all 0.3s ease-out;
}

.project-card>h4 {
    text-align: center;
}

.flip-image {
    width: 80%;
    height: 200px;
    perspective: 1000px;
}

.flip-image-inner {
    transition: transform .6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flip-image-front,
.flip-image-back {
    width: 100%;
    height: 200px;
    position: absolute;
    backface-visibility: hidden;
}

.img-project {
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: var(--sombra-1) 0px 3px 8px;
}

.flip-image-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: var(--sombra-1) 0px 3px 8px;
    transform: rotateY(180deg);
    border-radius: 1rem;
}

.tec-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.text-project {
    text-align: center;
}

.options-project {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.link {
    text-decoration: none;
    padding: 0.2rem 1rem;
    border-radius: 3rem;
    color: var(--background);
    background: var(--background-invert);
    border: 1px solid var(--background-invert);
    box-shadow: var(--sombra-1) 0px 10px 20px, var(--sombra-2)0px 6px 6px;
    transition: transform .1s ease-in-out;
}

.link:hover {
    background: var(--background);
    border: 1px solid var(--background-invert);
    box-shadow: var(--sombra-1) 0px 10px 20px, var(--sombra-2) 0px 6px 6px;
    color: var(--background-invert);
    cursor: pointer;
    padding: 0.2rem 1rem;
    border-radius: 3rem;
    transform: translatey(-3px);
}

.link:active {
    transform: scale(0.98);
}

.link-disabled {
    text-decoration: none;
    padding: 0.2rem 1rem;
    border-radius: 3rem;
    filter: blur(2px);
    color: var(--background-invert);
    background: var(--backgroundOp);
    border: 1px solid var(--background-invert);
}

@media screen and (max-width: 965px) {
    .project-control {
        &.left {
            transform: translateX(-100%) translateY(-70%);
        }

        &.right {
            transform: translateX(100%) translateY(-70%);
        }
    }
}

@media screen and (max-width: 620px) {
    .project-control {
        &.left {
            transform: translateX(0%) translateY(-120%);
        }

        &.right {
            transform: translateX(0%) translateY(-120%);
        }
    }
}

@media screen and (max-width: 485px) {
    .carousel {
        width: 20rem;
        height: 20rem;
    }

    .flip-image {
        height: 130px;
    }

    .flip-image-front,
    .flip-image-back {
        height: 130px;
    }

    .project-control {
        &.left {
            transform: translateX(-10%) translateY(-70%) scale(.6);
        }

        &.right {
            transform: translateX(10%) translateY(-70%) scale(.6);
        }
    }
}

@media screen and (max-width: 275px) {
    .carousel {
        width: 15rem;
        height: 15rem;
    }

    .flip-image {
        height: 100px;
    }

    .flip-image-front,
    .flip-image-back {
        height: 100px;
    }

    .project-control {
        &.left {
            transform: translateX(-30%) translateY(10%) scale(.6);
        }

        &.right {
            transform: translateX(30%) translateY(10%) scale(.6);
        }
    }
}