#main-home {
    max-width: 1366px;
    margin-inline: auto;
    overflow: clip;
}

.hero,
.aboutme,
.contact,
.projects,
.skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    margin: auto;
    padding: 7rem 0rem 0rem 0rem;
}

.app {
    background-color: var(--background);
    color: var(--text-primary);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    padding-block: 0.6rem;
    box-shadow: 0.1px 0.1px 6px 0.1px var(--text-primary);
    background: var(--backgroundOp);
    color: var(--background-invert);
}